.container {
	display: flex;
	justify-content: center;
}

.container-wrapper {
	/* display: flex; */
	justify-content: center;
	width: 500px;
}

.square-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 20px 20px;
	transform: rotate(45deg);
	margin-top: 140px;
}

.square {
	width: 100px;
	height: 100px;
	background-color: rgb(29, 51, 56);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 11px 10px 9px 1px rgba(103, 103, 103, 0.4);
	border-radius: 8px;
}

.icon {
	transform: rotate(-45deg);
}

.square:hover {
	cursor: pointer;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-around;
}

.record-wrapper {
	margin-right: 40px;
}

.button {
	width: 90px;
	background-color: rgb(99, 99, 245);
	color: white;
	border-radius: 10px;
	padding: 10px;
	border: none;
	margin: 10px;
}

.on {
	background-color: rgb(126, 176, 250);
}

.buttons-container {
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}
	.square-wrapper {
		grid-template-columns: repeat(3, 50px);
		grid-gap: 15px 15px;
	}
	.square {
		width: 60px;
		height: 60px;
	}
	.buttons-container {
		width: 100%;
		justify-content: space-between;
	}
	.button {
		width: 40px;
		padding: 5px;
		margin: 40px 10px;
	}
	.record-wrapper {
		margin: 40px;
	}
	.play-session {
		margin: 0;
		width: 60px;
	}
}
