.square-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 20px 20px;
	transform: rotate(45deg);
	position: absolute;
	left: 200px;
	top: 200px;
}

.square {
	width: 100px;
	height: 100px;
	background-color: rgb(29, 51, 56);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 11px 10px 9px 1px rgba(103, 103, 103, 0.4);
	border-radius: 8px;
}

.icon {
	transform: rotate(-45deg);
}

.square:hover {
	cursor: pointer;
}

.buttons-wrapper {
	display: flex;
}

.button {
	margin: 0 10px;
	width: 40px;
}

.on {
	background-color: rgb(126, 176, 250);
}
