.container {
	display: flex;
	justify-content: center;
}

.square-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-gap: 20px 20px;
	transform: rotate(45deg);
	margin-top: 140px;
}

.square {
	width: 100px;
	height: 100px;
	background-color: rgb(29, 51, 56);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 11px 10px 9px 1px rgba(103, 103, 103, 0.4);
	border-radius: 8px;
}

.icon {
	transform: rotate(-45deg);
}

.square:hover {
	cursor: pointer;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
}

.button {
	margin: 0 10px;
	width: 90px;
	margin: 0 150px;
	background-color: rgb(99, 99, 245);
	color: white;
	border-radius: 10px;
	padding: 10px;
	border: none;
}

.on {
	background-color: rgb(126, 176, 250);
}

@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}
	.square-wrapper {
		grid-template-columns: repeat(3, 50px);
		grid-gap: 15px 15px;
	}
	.square {
		width: 60px;
		height: 60px;
	}
}
